@media (prefers-color-scheme: dark) {
    body {
      background-color: var(--veryDarkBlue);
    }
  
    .header {
        background-color: var(--veryPaleBlue);
        box-shadow: 0 4px 8px 0 var(--azulRgbaSuave);
    }
    .search--title, .search__label, .cards__title, .juego__name, .juego__plataformas, .juego__lanzamiento, .juego__rating, .juego__generos, .juego__titulo, .juego__text, .juego__text, .juego__fecha, .juego__text, .juego__plataformas, .juego__title--descripcion, .juego__descripcion--text, .precios__titulo, .precios__titulo, .precio__tienda, .precio__valor{
        color: var(--white);
    }
    
    .card__juego, .precio__card{
        background-color: var(--darkDesaturated);
    }
   
  }

