.popUp__Container{
    background-color: var(--veryPaleBlue);
    width: 90%;
    margin: 15px auto;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    display: none;
    transform: scale(0.5); 
    opacity: 0;
    transition: transform 0.3s, opacity 0.3s;
    
}
#popUp__cerrar, #popUp__cerrar-registro{
    color: var( --darkGrayishBlue);
    text-align: left;
    cursor: pointer;
    font-size: 1.5rem;
    float: right;
}
.popUp__title{
    font-size: 25px;
    margin-bottom: 20px;
    color: var(--black);
    text-align: center;
}

.popUp__form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.popUp__form--input{
    padding: 10px;
    padding-bottom: 2px;
    display: block;
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
    font-size: 1.2rem;
    font-family: "Inconsolata", monospace;
    border: none;
    border-bottom: 2px solid var(--darkGrayishBlue);
   
}
.popUp__error{
    display: none;
    position: absolute;
}

.login__btn, .registro__btn {
  position: relative;
  display: inline-block;
  padding: 6px 14px;
  font-weight: bold;
  background: transparent;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  border: none;
  font-size: 1.2rem;
}

.login__btn::before, .registro__btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--redGradient); 
  z-index: -1;
  padding: 2px; 
  border-radius: 5px;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude; 
  -webkit-mask-composite: destination-out;
}

.login__btn:hover, .registro__btn:hover {
  background: linear-gradient(0.25turn, #fdc468, #df4996);
  color: white;
}

#modal-backdrop {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 9;
}

/*Efecto al abrir y cerrar */
.abrir {
  animation: zoomIn 0.3s ease-out forwards;
}

@keyframes zoomIn {
  0% {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0;
  }
  100% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
}

.cerrar {
  animation: zoomOut 0.3s ease-out forwards;
}
@keyframes zoomOut {
  0% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    transform: scale(0.5) translate(-50%, -50%);
    opacity: 0;
  }
}

