@media (min-width: 400px) {
    .juego__imagen {
      max-width: 400px;
      height: auto;
      display: block;
    }
  }

  @media (min-width: 500px) {
    .juego__imagen {
        max-width: 300px;
        height: 200px; 
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
    }
    .juego__container--datos{
        display: flex;
        align-items: flex-start;
        gap: 20px;
    }
    .precios__lista{
      grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
  }

  @media (min-width: 800px) {
    .juego__container--datos{
        display: flex; 
    }
    .precios__lista{
      grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }
  }