.cards{
    width: 80%;
    margin: 60px auto;
    cursor: pointer;
}

.cards__container{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.card__juego{
    position: relative;
    border-radius: 10px;
    margin-top: 20px;
    padding: 15px;
    background-color: var(--backgroudnCards);
    border: 2px solid transparent;
    background-image: linear-gradient(#1f1f1f, #1f1f1f), var(--redGradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);
    transition: transform 0.3s ease;
}

.card__juego:hover {
    transform: scale(1.02);
  }
  

.juego__img{
    width: 100%;
    height: 200px;
    object-position: center;
    object-fit: cover;
    box-shadow: 0 0px 2px 0 var(--border);
    border-radius: 5px;
}

.container__juego--info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.juego__name{
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0px;
}
.juego__plataformas, .juego__lanzamiento, .juego__rating, .juego__generos{
    font-size: 0.9rem;
    margin: 4px 0px;
}

.juego__rating {
    color: gold;
  }
 