/*Si la pantalla es mayor a 800*/

@media( min-width: 800px){
   /* Header */
    .menu__options{
        display: flex;
    }

    .menu__options--item {
        list-style: none;
        margin: 20px;
        font-size: 1rem;
        cursor: pointer;
    }

    .menu__options--item:hover{
        border-bottom: 2px solid var(--black);
    }

    /* Main: search */
    .search__form--input:focus {
        outline: 2px solid var( --marronRgba); 
        outline-offset: 2px;
    }
    .header__logo{
        width: 5%;
    }
    .search__form--container {
        width: 70%;
        margin: 0 auto; 
    }

    
/*No se verá en la opción de escritorio*/
    .header .menu__button{
        display: none;
    }
}

@media( min-width: 500px){
    .cards__container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
    }
}

@media( min-width: 900px){
    .cards{
        width: 90%;
        margin: 60px auto;
    }
    .cards__container{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 40px;
    }
}