.container__presentación{
    margin-top: 90px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    overflow: hidden;
    text-align: center;
    min-height: 250px; 
  }
  .presentacion__titulo {
    font-size: 2rem;
    max-width: 80%;
  }

  .presentacion__img {
    position: absolute;
    right: -60px;
    top: 50%;
    transform: translateY(-50%) rotate(-15deg);
    width: 300px;
    opacity: 0.6;
    z-index: -2;
    pointer-events: none;
  }

  

