.detalle__juego{
    margin: 160px auto;
    width: 90%;
    height: auto;
}
.detalle__juego--container{
    width: 100%;  
    display: flex;
    flex-direction: column;
}

.juego__imagen{
    width: 100%;
    height: 200px;
    object-position: center;
    object-fit: cover;
    box-shadow: 0 0px 2px 0 var(--border);
    border-radius: 5px;
    margin-bottom: 15px;
}
.juego__titulo{
    font-size: 20px;
    margin-bottom: 10px;
}
.juego__text{
    font-weight: bold;
    margin-bottom: 10px;
}
.juego__fecha, .juego__plataformas{
    font-weight: lighter;
}
.juego__fecha, .juego__plataformas{
    margin-bottom: 15px;
    font-size: 1rem;
}
.juego__title--descripcion{
    margin-bottom: 15px;
}
.juego__descripcion--text{
    font-size: 1rem;
    line-height: 1.5;
    text-align: justify;
    margin-bottom: 20px;
}

/*Cards precios*/
.precios__titulo{
    margin-bottom: 20px;
}

.precios__lista{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    width: 100%;
}
.precio__card{
    display: grid;
    grid-template-columns: 2fr 1fr auto; 
    align-items: center;
    gap: 10px;
    border-radius: 5px;
     padding: 15px;
    background: var(--background);
    border: 2px solid transparent;
    background-image: linear-gradient(#1f1f1f, #1f1f1f), var(--redGradient);
    background-origin: border-box;
    background-clip: padding-box, border-box;
    box-shadow: 0 4px 20px rgba(0,0,0,0.5);

}
.precio__valor{
    text-align: center;
}

.precio__tienda {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .precio__boton {
  position: relative;
  display: inline-block;
  padding: 6px 14px;
  font-weight: bold;
  color: white;
  background: transparent;
  border-radius: 5px;
  text-decoration: none;
  z-index: 1;
  overflow: hidden;
  border: none;
}

.precio__boton::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--redGradient); 
  z-index: -1;
  padding: 2px; 
  border-radius: 5px;
  mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  mask-composite: exclude; 
  -webkit-mask-composite: destination-out;
}

.precio__boton:hover {
  background: linear-gradient(0.25turn, #fdc468, #df4996);
  color: white;
}
